<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.glog.shop"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>G-LOG</name>

    <description>
        desc here
    </description>

    <author href="https://www.oliverconcepts.com" email="info@oliverconcepts.com">
       Engr. Oliver Gonzales
    </author>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	


</widget>